<html lang="en">

<%- include('./similar/head.ejs') %>


    <body>

        <section class="colored-section" id="title">

            <div class="container-fluid">

                <%- include('./similar/nav.ejs') %>

                    <%- include('./similar/title.ejs') %>

            </div>
        </section>
        <div class="openStory">
            <h2>
                <%= story.info %>
            </h2>
            <div class="storyTitle">
                <p>
                    <%= story.details %>
                </p>
            </div>
            <div class="fullstory">
                <p>
                    <%= story.body %>
                </p>
            </div>
        </div>
    </body>

    <%- include('./similar/footer.ejs') %>

</html>